.colors-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

@media (max-width: 63em) {
  .colors-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 47em) {
  .colors-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 32em) {
  .colors-list {
    display: grid;
    grid-template-columns: 1fr;
  }
}
