.App {
  max-width: 130rem;
  margin: 0 auto;
  position: relative;
}

.heading-primary {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 4rem;
  font-size: 5.2rem;
}

@media (max-width: 63em) {
  .heading-primary {
    margin-bottom: 0;
  }

  .App {
    max-width: 95rem;
    margin: 0 auto;
  }
}

@media (max-width: 47em) {
  .App {
    max-width: 67rem;
    margin: 0 auto;
  }
}

@media (max-width: 32em) {
  .App {
    max-width: 32rem;
    margin: 0 auto;
  }

  .heading-primary {
    font-size: 4.2rem;
  }
}
